<!DOCTYPE html>
<html>
  <head>
    <title>DangerfieldSter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" >
      window.smile = "<%= image_url('smile.png') %>"
      window.frown = "<%= image_url('frown.png') %>"
     
      src="jquery-3.5.1.min.js"
    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
